<h2>All Historical Landmarks</h2>

<% Landmark.all.each do |landmark| %>
  <a href="/landmarks/<%= land.id %>"><%= figure.name %> </a>
<%end%>


<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
